/* Couleurs
body{
    padding: 0;
    margin: 0;

}

h1{
    text-align: center;
}
button{
    background-color: #505050;
    color: white;
    padding: 1rem;
    border: none;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dddddd;
    width: 50%;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
label{
    padding: 0.5rem 0;
}
div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}


.type-fire {
    background-color: #e85512;
}

.type-air {
    background-color: #83489d;
}

.type-water {
    background-color: #00b8eb;
}

.type-earth {
    background-color: #95bb27;
}

.type-active {
    background-color: #c6b282;
}

.type-chromatic {
    background-color: #f1e44c;
}

.classes-container{
    display: flex;
    flex-direction: column;
}
.classes-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spells-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:20px;
}

.spells-container article{
    width: 250px;
    padding: 1rem;
} */


/* CSS DU TRUC DE COMBAT */
.description-container{
    max-width: 400px;
}
#classes-container{
    display: flex;
    gap: 10px;
}
.class-image {
    /* Styles pour l'image de fond du bouton */
    width: 115px; /* Ajustez la largeur selon vos besoins */
    height: 115px; /* Ajustez la hauteur selon vos besoins */
}

button{
    border: none;
}

.spells-list {
    display: flex;
    flex-wrap: wrap;
    gap:10px;

}
.spell-image {
   width: 64px;
   height: 64px;
}

